@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Bangazon!</h1>
    <a asp-action="EmployeeTrainingReport">View Employee Training Report</a>
</div>
